<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- appender 部分是可用的日志输出方式定义，可以定义多个 -->

	<!-- 所有的debug信息输出到该appender -->
	<appender name="FILE-DEBUG" class="com.example.demo.commpent.Log4jRollingFileAppender">
	    <param name="File" value="/data/javalogs/demo-cloud-zuul/demo-cloud-zuul-debug.log" /> <!-- for linux -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
			<param name="acceptOnMatch" value="TRUE" />
		</filter>
		<param name="maxFileSize" value="400MB"/>
		<param name="maxBackupIndex" value="100"/>
	</appender>
	
	<!-- 所有的info信息输出到该appender -->
	<appender name="FILE-INFO" class="com.example.demo.commpent.Log4jRollingFileAppender">
	    <param name="File" value="/data/javalogs/demo-cloud-zuul/demo-cloud-zuul-info.log" /><!--for linux -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
			<param name="acceptOnMatch" value="TRUE" />
		</filter>
		<param name="maxFileSize" value="400MB"/>
		<param name="maxBackupIndex" value="100"/>
	</appender>

	<!-- 所有的warn信息输出到该appender -->
	<appender name="FILE-WARN" class="com.example.demo.commpent.Log4jRollingFileAppender">
	    <param name="File" value="/data/javalogs/demo-cloud-zuul/demo-cloud-zuul-warn.log" /><!-- for linux -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
			<param name="acceptOnMatch" value="TRUE" />
		</filter>
		<param name="maxFileSize" value="400MB"/>
		<param name="maxBackupIndex" value="100"/>
	</appender>

	<!-- 所有的error信息输出到该appender -->
	<appender name="FILE-ERROR" class="com.example.demo.commpent.Log4jRollingFileAppender">
	 	<param name="File" value="/data/javalogs/demo-cloud-zuul/demo-cloud-zuul-error.log" /> <!-- for linux -->
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%c %d{ISO8601} -- %p -- %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
			<param name="acceptOnMatch" value="TRUE" />
		</filter>
		<param name="maxFileSize" value="400MB"/>
		<param name="maxBackupIndex" value="100"/>
	</appender>
	
	<!-- 控制台接受所有级别的日志信息 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %c %-5p - %m%n" />
		</layout>
	</appender>
	
	<!--  root部分定义了log4j的默认输出级别和方式 -->
	<root>
		<!-- 所有logger的缺省级别 -->
 		<level value="DEBUG" />
		<!-- <appender-ref ref="FILE-DEBUG" /> -->
		<appender-ref ref="FILE-INFO" />
		<appender-ref ref="FILE-WARN" />
		<appender-ref ref="FILE-ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration> 